<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img [textPlaceholder]="'Sanket Berde'" [size]="45" width="300" alt="Angular Logo" imgSrc="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.pngs">
  <img [textPlaceholder]="'Shubham Chaudhari'" [size]="45" width="300" alt="Angular Logo" imgSrc="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.pngs">
  <img [textPlaceholder]="'Raj Desai'" [size]="45" width="300" alt="Angular Logo" imgSrc="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.pngs">
  <img [textPlaceholder]="'Sharda Patel'" [size]="45" width="300" alt="Angular Logo" imgSrc="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.pngs">
</div>
<router-outlet></router-outlet>
