<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img [textPlaceholder]="'Sanket Berde'" width="300" alt="Angular Logo" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">
  <img [textPlaceholder]="'Shubham Chaudhari'" width="300" alt="Angular Logo" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.pngs">
  <img [textPlaceholder]="'Raj Desai'" width="300" alt="Angular Logo" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.pngs">
  <img [textPlaceholder]="'Sharda Patel'" width="300" alt="Angular Logo" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.pngs">
</div>
<router-outlet></router-outlet>
