<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img textPlaceholder (loadError)="this.onLoadError($event)" alt="Working" src="https://via.placeholder.com/100">
  <img textPlaceholder (loadError)="this.onLoadError($event)" alt="Error in Link" src="https://via.placeholder.comm/100">
  <img textPlaceholder (loadError)="this.onLoadError($event)" alt="No src">
  <!-- No alt -->
  <img textPlaceholder (loadError)="this.onLoadError($event)" src="https://via.placeholder.com/100">
  <!-- No alt with no src -->
  <img textPlaceholder (loadError)="this.onLoadError($event)" >
</div>
<router-outlet></router-outlet>
